

    <header class="page-header" style="position:relative;">
  <div class="container">
    <div class="page-header__content">
      <div class="imgContainer">
      <a href="/">  <img src="\assets\logo.jpg" /> </a>
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li class="navLink ">
            <a href="/">Почетна</a>
          </li>
          <li class="navLink">
            <a href="/blog/">Blog</a>
          </li>
           <li class="navLink">
            <a href="/kontakt/">Контакт</a>
          </li> 
        </ul>
        
      </nav>

       <nav class="navMobile">
        
        <ul role="list" class="nav-list flex-group">
          <li class="navLink ">
            <a href="/">Почетна</a>
          </li>
          <li class="navLink">
            <a href="/blog/">Blog</a>
          </li>
           <li class="navLink">
            <a href="/kontakt/">Контакт</a>
          </li>
        </ul>
        
      </nav>


       <a href="javascript:void(0);" class="icon" onclick="myFunction()" style="width:10%;">
            <img src="/assets/ham.svg"  />
  </a>
    </div>
  </div>
</header>