---
title: Dugmeplast
layout: 'base.njk' 
---


    <main>
      
<section class="hero">
    <div class="heroContainer">
      <div class="heroContainerText" style="background:#4a9cf2 !important;">
        <h1> Прозорци . Ролетни <h1>
          <h1> Комарници . Завеси </h1>
        <a href="./kontakt"><button class="heroCta">Побарај понуда </button></a>

        </div>
      <div class="heroImage">

      </div>

    
     <div>

</section>


  <div class="atroposes" style="display:flex; justify-content:center; align-items:center; margin:4rem 0; gap:4rem;flex-wrap:wrap;">


<div class="atropos my-atropos">
  <!-- scale container (required) -->
  <div class="atropos-scale">
    <!-- rotate container (required) -->
    <div class="atropos-rotate">
      <!-- inner container (required) -->
      <div class="atropos-inner">
<div class="cardDesk" style="box-shadow:0 !important; background:#9ae893 !important;">
  <div class="cardImg" style="width:25%;"><img  src="./assets/blinds.png"/></div>
<div class="cardText">
  <h4>Roletni</h4>
  <p>lorem lorem lorem</p>
</div> 
</div>        <!-- put your custom content here -->
      </div>
    </div>
  </div>
</div>
<div class="atropos my-secatropos3">
  <!-- scale container (required) -->
  <div class="atropos-scale">
    <!-- rotate container (required) -->
    <div class="atropos-rotate">
      <!-- inner container (required) -->
      <div class="atropos-inner">
<div class="cardDesk" style="box-shadow:0 !important; background:#4a9cf2 !important;">
  <div class="cardImg" style="width:25%;"><img  src="./assets/blinds.png"/></div>
<div class="cardText">
  <h4>Roletni</h4>
  <p>lorem lorem lorem</p>
</div> 
</div>        <!-- put your custom content here -->
      </div>
    </div>
  </div>
</div>
<div class="atropos my-secatropos2">
  <!-- scale container (required) -->
  <div class="atropos-scale">
    <!-- rotate container (required) -->
    <div class="atropos-rotate">
      <!-- inner container (required) -->
      <div class="atropos-inner">
<div class="cardDesk" style="box-shadow:0 !important; background:#4a9cf2 !important;">
  <div class="cardImg" style="width:25%;"><img  src="./assets/blinds.png"/></div>
<div class="cardText">
  <h4>Roletni</h4>
  <p>lorem lorem lorem</p>
</div> 
</div>        <!-- put your custom content here -->
      </div>
    </div>
  </div>
</div>

    
    
<div class="atropos my-secatropos">
  <!-- scale container (required) -->
  <div class="atropos-scale">
    <!-- rotate container (required) -->
    <div class="atropos-rotate">
      <!-- inner container (required) -->
      <div class="atropos-inner">
<div class="cardDesk" style="box-shadow:0 !important; background:#9ae893 !important;">
  <div class="cardImg" style="width:25%;"><img  src="./assets/window.png"/></div>
<div class="cardText">
  <h4>Roletni</h4>
  <p>lorem lorem lorem</p>
</div> 
</div>        <!-- put your custom content here -->
      </div>        <!-- put your custom content here -->
      </div>
    </div>
  </div>
</div>
    
    






    
  </div>








<section class="cardSection" style="padding:1rem 5rem; height:auto; margin:2.5rem 0; display:none;">
<div class="cardContainer" style=" padding:2rem 1rem; display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); gap:2rem; align-content: center;
        justify-content: center;">
<div class="card" style="background:#9ae893 !important;">
  <div class="cardImg" style="width:25%;"><img  src="./assets/blinds.png"/></div>
<div class="cardText">
  <h4>Roletni</h4>
  <p>lorem lorem lorem</p>
</div> 
</div>
<div class="card"> </div>
<div class="card"> </div>
<div class="card"> </div>


  </div>


</section>






<section class="faqSection">
  <h2 class="title">Зашто Дугмепласт ?</h2>
  
  <div class="faq">
    <div class="question">
      <h3>Zasto Dugmeplast</h3>
  
<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16" id="IconChangeColor"> <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" id="mainIconPathAttribute" stroke="#314eee" stroke-width="0.1"></path> </svg>
    </div>
    <div class="answer">
      <p>Zasto sme megu prvite kompanii i istotaka sme dolog vreme na pzarot</p>
      
      
    </div>
  </div>
  
  
  
  
   
  <div class="faq">
    <div class="question">
      <h3>Zasto Dugmeplast</h3>
  
<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16" id="IconChangeColor"> <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" id="mainIconPathAttribute" stroke="#314eee" stroke-width="0.1"></path> </svg>
    </div>
    <div class="answer ">
      <p>Zasto sme megu prvite kompanii i istotaka sme dolog vreme na pzarot</p>
      
      
    </div>
  </div>
  
  
  
   
  <div class="faq">
    <div class="question">
      <h3>Зашто Дугмепласт ? </h3>
  
<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16" id="IconChangeColor"> <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" id="mainIconPathAttribute" stroke="#314eee" stroke-width="0.1"></path> </svg>
    </div>
    <div class="answer">
      <p>Zasto sme megu prvite kompanii i istotaka sme dolog vreme na pzarot</p>
      
      
    </div>
  </div>
  
</section>
  

    </main>
