---
title: Kontakt
layout: 'base.njk'
---

<main>
<section class="heroContact">
  <div class="contactHeading">
     <h1> КОНТАКТ </h1>
    </div>
    </section>

<div class="contactContent" >

<div class="contactInfo" >
<h2>
Дугмепласт компанија со традиција</h2>
<div style="max-width:100%;overflow:hidden;color:red;width:400px;height:400px;"><div id="embed-ded-map-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/search?q=mobilfon+skopje&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="from-embedmap-code" rel="nofollow" href="https://www.bootstrapskins.com/themes" id="enable-map-info">premium bootstrap themes</a><style>#embed-ded-map-canvas .text-marker{}.map-generator{max-width: 100%; max-height: 100%; background: none;</style></div>
</div>
<form
action="https://usebasin.com/f/ee585703cb7b"
method="POST"
enctype="multipart/form-data"
id="form"
>

<div class="forma" style="display:flex;flex-direction:column;">
<label for="name">Име</label>
<input type="text" name="name" />
<label for="email">Е-пошта</label>
<input type="email" placeholder="primer@gmail.com" name="email" required />
<label for="phone">Enter your phone number:</label>
<input type="tel" id="phone" name="phone"
       pattern="[0-9]{3}[0-9]{3}[0-9]{3}"
       required>
<label for="message">Опис</label>
<textarea name="message"></textarea>
<h5>За што сте заинтересирани ?</h5>
<div class="oneliner" style="display:flex;flex-direction:row;">
<label for="checkbox1">Прозорци</label>
<input type="checkbox" name="prozorci" />
<label for="checkbox2">Комарници</label>
<input type="checkbox" name="komarnici" />
</div>
<div class="oneliner" style="display:flex;flex-direction:row;">
<label for="checkbox1">Ролетни</label>
<input type="checkbox" name="roletni" />
<label for="checkbox2">Завеси</label>
<input type="checkbox" name="zavesi" />
</div>
<button type="submit" class="heroCta contactCta">Испрати</button>
</div>
</form>


</div>
</main>